.main-eye-class {
    padding-top: 20vh;
    height: 100vh;
}

.eye-base {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 12.5vh;
}

.eye-top {
    position: relative;
    height: 15vh;
    width: 15vh;
}

.left {
    top: -30vh;
    left: 75vh;
}

.right {
    top: -30vh;
    left: 108.5vh;
}

.about-text {
    text-align: center;
    padding: 2px;
}